*.exe
*.cache
*.dll
*.log
*.pdb
*.suo
*.user
XamarinForms/XamarinForms/obj/
XamarinForms/XamarinForms/bin/
XamarinForms/XamarinForms.Android/obj/
XamarinForms/XamarinForms.Android/bin/
XamarinForms/XamarinForms.iOS/obj/
XamarinForms/XamarinForms.iOS/bin/
WindowsForms/bin/
WindowsForms/obj/

.vs/Clock/v16/Server/sqlite3/storage.ide-shm
.vs/Clock/v16/Server/sqlite3/storage.ide-wal
