*.exe
*.cache
*.dll
*.log
*.pdb
*.suo
*.user
*.dtbcache
XamarinForms/XamarinForms/obj/
XamarinForms/XamarinForms/bin/
XamarinForms/XamarinForms.Android/obj/
XamarinForms/XamarinForms.Android/bin/
XamarinForms/XamarinForms.iOS/obj/
XamarinForms/XamarinForms.iOS/bin/
WindowsForms/bin/
WindowsForms/obj/
.vs/
*.apk
